<article>
    <section class="main">
        <header>
            <h1>{{ page.title }}</h1>
            {% if page.tagline %}<h2>{{page.tagline}}</h2>{% endif %}
        </header>
        <div class="posted">
            <span>{{ page.date | date_to_long_string }}</span>
        </div>
        {{ content }}
        <nav>
          <ul class="pager">
          {% if page.previous %}
            <li class="previous"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}" ><i class="fa fa-arrow-left"></i> Previous</a></li>
          {% else %}
            <li class="previous disabled"><a>Previous <i class="fa fa-arrow-right"></i></a></li>
          {% endif %}
            <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
          {% if page.next %}
            <li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next <i class="fa fa-arrow-right"></i></a></li>
          {% else %}
            <li class="next disabled"><a>Next <i class="fa fa-arrow-right"></i></a>
          {% endif %}
          </ul>
        </nav>
    </section>
    <aside>
      {% unless page.tags == empty %}
		<h6>Tags</h6>
        <nav class="tags">
            <ul>
              {% assign tags_list = page.tags %}
              {% include JB/tags_list %}
            </ul>
        </nav>
      {% endunless %}  
      {% unless page.categories == empty %}
		<h6>Categories</h6>
        <nav class="categories">
            <ul class="fa-ul">
              {% assign categories_list = page.categories %}
              {% include JB/categories_list %}
            </ul>
        </nav>
      {% endunless %}    
    </aside>
    {% include JB/comments %}
</article>

